In [1]:
!pip install apyori

Requirement already satisfied: apyori in e:\anaconda\lib\site-packages (1.1.2)

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
data_set = pd.read_csv('Netflix Movie recommendation.csv')

In [20]:
transactions = []
for i in range(data_set.shape[0]):
    transaction = []
    for j in range(data_set.shape[1]):
        value = str(data_set.iat[i,j])
        transaction.append(value)
    transactions.append(transaction)

In [54]:
from apyori import apriori
rules = apriori(transactions = transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)

In [55]:
results = list(rules)

In [56]:
results

[RelationRecord(items=frozenset({'Captain America', 'Black Panther'}), support=0.003348961821835231, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Captain America'}), items_add=frozenset({'Black Panther'}), confidence=0.2450980392156863, lift=5.153962993648164)]),
 RelationRecord(items=frozenset({'Comedy nights with Kapil', 'Game of thrones'}), support=0.003215003348961822, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Game of thrones'}), items_add=frozenset({'Comedy nights with Kapil'}), confidence=0.2051282051282051, lift=3.1060487855619696)]),
 RelationRecord(items=frozenset({'Comedy nights with Kapil', 'Kanan Gill Comedy'}), support=0.008037508372404554, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Kanan Gill Comedy'}), items_add=frozenset({'Comedy nights with Kapil'}), confidence=0.27149321266968324, lift=4.110946922067313)]),
 RelationRecord(items=frozenset({'Prision Break', 'Game of thrones'}), support=0.004554588077695914, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Game of thrones'}), items_add=frozenset({'Prision Break'}), confidence=0.29059829059829057, lift=4.831439285782269)]),
 RelationRecord(items=frozenset({'Harry Potter 2', 'Harry Potter 1'}), support=0.005760214333556598, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Harry Potter 1'}), items_add=frozenset({'Harry Potter 2'}), confidence=0.3675213675213675, lift=4.642211520384109)]),
 RelationRecord(items=frozenset({'The Lord of the rings', 'Harry Potter 1'}), support=0.005090421969189551, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Harry Potter 1'}), items_add=frozenset({'The Lord of the rings'}), confidence=0.32478632478632474, lift=4.531831615943765)]),
 RelationRecord(items=frozenset({'crimes of grindelwald', 'Harry Potter 2'}), support=0.005760214333556598, ordered_statistics=[OrderedStatistic(items_base=frozenset({'crimes of grindelwald'}), items_add=frozenset({'Harry Potter 2'}), confidence=0.3006993006993007, lift=3.7981730621324528)]),
 RelationRecord(items=frozenset({'Interstellar', 'inception'}), support=0.0159410582719357, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Interstellar'}), items_add=frozenset({'inception'}), confidence=0.3216216216216216, lift=3.26209973560517)]),
 RelationRecord(items=frozenset({'inception', 'The Wolf of Wall Street'}), support=0.0053583389149363695, ordered_statistics=[OrderedStatistic(items_base=frozenset({'The Wolf of Wall Street'}), items_add=frozenset({'inception'}), confidence=0.37735849056603776, lift=3.827420016406891)])]

In [57]:
def inspect(results):
    movie_1 = [tuple(result[2][0][0]) for result in results]
    movie_2 = [tuple(result[2][0][1]) for  result in results]
    support = [result[1] for result in results]
    
    return list(zip(movie_1, movie_2, support))
resultinDataframe = pd.DataFrame(inspect(results), columns = ['movie_1', 'movie_2', 'support'])

In [58]:
resultinDataframe

                      movie_1                      movie_2   support
0          (Captain America,)             (Black Panther,)  0.003349
1          (Game of thrones,)  (Comedy nights with Kapil,)  0.003215
2        (Kanan Gill Comedy,)  (Comedy nights with Kapil,)  0.008038
3          (Game of thrones,)             (Prision Break,)  0.004555
4           (Harry Potter 1,)            (Harry Potter 2,)  0.005760
5           (Harry Potter 1,)     (The Lord of the rings,)  0.005090
6    (crimes of grindelwald,)            (Harry Potter 2,)  0.005760
7             (Interstellar,)                 (inception,)  0.015941
8  (The Wolf of Wall Street,)                 (inception,)  0.005358

In [59]:
resultinDataframe.nlargest(n=10, columns = 'support')

                      movie_1                      movie_2   support
7             (Interstellar,)                 (inception,)  0.015941
2        (Kanan Gill Comedy,)  (Comedy nights with Kapil,)  0.008038
4           (Harry Potter 1,)            (Harry Potter 2,)  0.005760
6    (crimes of grindelwald,)            (Harry Potter 2,)  0.005760
8  (The Wolf of Wall Street,)                 (inception,)  0.005358
5           (Harry Potter 1,)     (The Lord of the rings,)  0.005090
3          (Game of thrones,)             (Prision Break,)  0.004555
0          (Captain America,)             (Black Panther,)  0.003349
1          (Game of thrones,)  (Comedy nights with Kapil,)  0.003215

In [60]:
resultinDataframe.count()

movie_1    9
movie_2    9
support    9
dtype: int64